extends ../layout

block content
  #container.container.sessions
    #content-wrapper
      #content
        form(accept-charset="UTF-8", action="/sessions", method="post")
          .form-row
            input#handle.single.input-text(placeholder="@handle", name="handle", size="30", type="text")
          .form-submit
            input(name="commit", type="submit", value="Login / Join")
